################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GameTemplate/v14
/ARM
/Debug
/GameTemplate/ARM/Debug
/EngineLib/ARM/Debug
/EngineLib/Debug
/GameTemplate/Debug
/ipch
/GameTemplate/GameTemplate.vcxproj.user
/GameTemplate.VC.VC.opendb
