################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GameTemplate/v14
/ARM
/Debug
/GameTemplate/ARM/Debug
/EngineLib/ARM/Debug
/EngineLib/Debug
/GameTemplate/Debug
/ipch
/GameTemplate/GameTemplate.vcxproj.user
/GameTemplate.VC.VC.opendb
/*.VC.db
/EngineLib/x64/Debug
/GameTemplate/x64/Debug
/x64/Debug/GameTemplate
/x64/Debug/EngineLib
/.vs/GameTemplate/v15
/UWPPlatformLib/x64/Debug/UWPPlatformLib.tlog
/UWPPlatformLib/x64/Debug
